@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron-fluid w-100 bg-secondary m-0 p-0 text-white-50 rounded-25" style="height: 30px;">
    <div class="d-flex align-content-center">
        <p class="pl-5">0/10</p>
    </div>
</div>