@model QuizMachine.ViewModels.QuizViewModel

@{
    ViewBag.Title = "Quiz";
}

@Html.Partial("_QuizProgress")
<div class="container" style="margin-top: 40px;">
    <h1 class="display-4 p-2">States &amp; Capitals</h1>
    <div class="row bg-light">
        <div class="col-12">
            <form class="pl-5 pt-2">
                <!-- This is really bad on performance as it is O(n^2) -->
                <!-- With more time I would have cleaned this up -->
                @for (var i = 0; i < Model.questions.Count; i++)
                {
                    <h3>Capital of @Model.questions.ElementAt(i)</h3>
                    <div class="form-group">
                        @Html.Partial("_QuizAnswerSelection", Model.answerPool.ElementAt(i))
                    </div>
                }


                <button type="submit" class="btn btn-primary mt-5 w-100">Finish Quiz</button>
            </form>
        </div>
    </div>

    <!-- Would have been a JS feature -->
    @*<div class="row justify-content-between">
        <button class="btn btn-primary" href="#">Previous</button>
        <button class="btn btn-primary" href="#">Next</button>
    </div>*@
</div>